.sessao {
    margin-bottom: 23px;
}

.dias {
    font: normal 20px Roboto;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #293845;
}

.horarios {
    display: flex;
    gap: 8px;
    margin-top: 23px;
}

.hora, .botaoVoltar {
    width: 83px;
    height: 43px;

    background: #E8833A;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    font: normal 18px Roboto;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.botaoVoltar {
    width: 50px;
    height: 40px; 
    border-radius: 3px;
    border: 2px solid #bb682d;

    font: normal 14px Roboto;

    position: fixed;
    left: 22px;
    top: 15px;
}

