.header {
    width: 375px;
    height: 67px;
    padding: 0 24px;

    background: #C3CFD9;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
}

.header h1 {
    font: normal 34px Roboto;
    line-height: 40px;
    color: #E8833A;
}