.sucesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 67px 29px 0;
}

.infosFinalizar {
    margin-bottom: 80px;
}

.sucesso .titulo, .sucesso .subtitulos {
    font: bold 24px Roboto;
    line-height: 28px;
    letter-spacing: 0.04em;

    text-align: center;
    
    color: #247A6B;
}

.sucesso .subtitulos {
    text-align: inherit;

    color: #293845;
}

.loading {
    width: 50px;
    height: 50px;
    
    position: fixed;
    top: 50%;
    right: 45%;
}

.caixaInfo {
    margin-top: 30px;
}

.infoSucesso {
    font: normal 22px Roboto;
    line-height: 26px;
    letter-spacing: 0.04em;

    color: #293845;
}